<div class="h-full w-full max-h-[93vh] max-w-[99vw] overflow-auto min-w-[70vw] md:p-3 p-1 pb-3">
  <div class="top-header">
    <div class="flex justify-end items-center h-fit">
      <div class="flex justify-center items-center">
        <button mat-icon-button color="basic" class="hover:bg-gray-200 text-white font-bold py-2 px-4 rounded" matDialogClose>
          <mat-icon>close</mat-icon>
        </button>
      </div>
  </div>
  <div class="px-3 mt-2">
    <div class="flex justify-center items-start flex-wrap">
      <div class="md:w-1/2 w-full rounded-lg overflow-hidden">
        <img class="w-full h-full max-h-full object-cover" [src]="gif?.images.original.url" alt="">
      </div>
      <div class="md:w-1/2 w-full md:pl-3 mt-2 md:mt-0">
        <div *ngIf="gif?.user?.avatar_url" class="flex items-center justify-start gap-2 mb-3">
          <img class="w-14 h-14 object-cover rounded-full" [src]="gif?.user?.avatar_url" alt="">
          <p class="text-xl font-semibold !m-0">{{gif?.user?.username}}</p>
        </div>
        <div class="flex flex-col justify-center items-start text-lg py-3 px-2 rounded-xl bg-gray-100">
          <p class="md:text-xl text-lg font-medium mb-0">Title: {{gif?.title}}</p>
          <p class="md:text-xl text-lg font-medium mb-0 ">Rating: <span class="uppercase">{{gif?.rating}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
