<div class="gif-item relative rounded-lg cursor-pointer my-1"
(click)="onDetail(gif)">
  <img class="w-full h-full object-cover" [src]="gif.images.fixed_width_small.url">
  <div class="title z-10 bg-black bg-opacity-35 w-full absolute bottom-0">
    <div class="h-full flex justify-start items-center gap-2 text-white md:text-lg text-base md:px-3 px-1 my-2">
      <ng-container *ngIf="gif.user; else emptyUser" >
        <img class="w-8 h-8" [src]="gif.user.avatar_url || null" alt="" srcset="">
        <span class="line-clamp-1">{{gif.user.username}}</span>
      </ng-container>

      <ng-template #emptyUser >
        <span class="mx-auto line-clamp-1">{{gif.title}}</span>
      </ng-template>
    </div>
  </div>
</div>
