.gif-item {
  overflow: hidden;

  .title {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  &:hover {
    .title {
      max-height: 100px; /* Adjust the value according to your content height */
    }
  }
}



.span-cols-1 {
  grid-column-end: span 1;
}
.span-cols-2 {
  grid-column-end: span 2;
}

.span-rows-1 {
  grid-row-end: span 1;
}

.span-rows-2 {
  grid-row-end: span 2;
}

