.img-bg {
    background-image: url('https://images.unsplash.com/photo-1703942924556-c67fd23ef783?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.gif-list{
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  // grid-template-rows: repeat(auto-fit, 260px);

  // grid-auto-flow: dense;
  // gap: 14px;
}

.gif-list {
  column-width:calc(100px + 10vw);
  padding-left:2.5%;
  margin: 8px;

}
